*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', cursive;
}

.start-page {
    min-height: 100vh;
    width: 100%;
    background-image:url(Background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.name {
    color: #F4D03F;
    text-shadow: 2px 2px #424949;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 40px;
    font-size: 60px;
    animation: tilt-shaking 0.8s infinite;
}
@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

/* Sign Up Button */
.form {
   width: 90%;
   max-width: 450px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background:white;
   padding: 50px 60px 70px;
   text-align: center;
}

.form h2 {
    font-size: 30px;
    margin-bottom: 60px;
    color:#87CEFA ;
    position: relative;
}

.form h2::after {
    content:'';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #87CEFA;
    position:absolute;
    bottom:-12px;
    left:50%;
    transform: translate(-50%);
}

.input-box {
    background-color:#eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input {
    width: 100%;
    background: transparent;
    border:0;
    outline: 0;
    padding: 18px 15px;
}

.input-box i {
    margin-left: 15px;
    color: #999;
}

form p {
    text-align: left;
    font-size: 14px;
}

form p a {
    text-decoration: none;
    color:#87CEFA ;
}

.btn {
    width: 100%;
    display: flex;
    justify-content:space-between;
}

.btn button {
    flex-basis: 49%;
    background:#87CEFA ;
    color: white;
    height: 40px;
    border-radius: 20px;
    border:0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.input-group {
    height: 280px;
}

.btn button.not {
    background:#eaeaea;
    color:white;
}

/* Sign In Button (Before Sign Up/Log In Page Shows Up) */
.b {
    text-align: center;
}

/* Style For All Buttons */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 140px;
    opacity: 0.9;
    text-align: center;
}
  
button:hover {
    opacity:1;
}

/* The Modal (Background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
/* Horizontal Ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Start Button */
.start-btn {
    text-align: center;
}

/* Mobile View Of Cover Page */
@media(max-width: 700px)
{
    .name {
        font-size: 40px;
        padding-top: 200px;
    }
}